<% layout('template') %>

    <h1>Edit Product</h1>

    <form action="/item/<%=product._id%>?_method=PUT" method="POST">
        <label for="itemname">Name</label><br>
        <input type="text" id="itemname" name="productName" placeholder="Enter Item Name"
            value="<%= product.productName%>"><br>
        <label for="manufacturerName">Manufacturer</label><br>
        <input type="text" id="manufacturerName" name="manufacturer" placeholder="Enter Manufacturer Name"
            value="<%= product.manufacturer%>"><br>
        <label for="category">Category</label>
        <select name="category" id="category">
            <% for(let category of categories){ %>
                <option value="<%=category%>" <%=product.category===category ? 'selected' : '' %>>
                    <%=category%>
                </option>
                <% } %>
        </select>
        <label for="rating">Rating</label>
        <select name="rating" id="rating">
            <% for(let rating of ratings){ %>
                <option value="<%=rating%>" <%=product.rating===rating ? 'selected' : '' %>>
                    <%=rating%>
                </option>
                <% } %>
        </select>
        <label for="price">Price</label>
        <input type="text" id="price" name="price" placeholder="Rs. 0.0" value="<%= product.price%>">
        <br>
        <label for="image">Image URL</label><br>
        <input type="text" id="image" name="image" placeholder="Enter Image URL" value="<%= product.image%>"><br>
        <label for="about">About</label><br>
        <textarea id="about" name="about" rows="4" cols="50" placeholder="About Item"><%= product.about%></textarea><br>
        <button>Submit</button>
        <a href="/showitem/<%=product._id%>" style="text-decoration: none;">Cancel</a>
    </form>