<% layout('template') %>
    <h1>
        <a href="/Mybag/showmycart" style="text-decoration:none;">
            <b>&#8592</b>
        </a>
        <%= product.manufacturer%> product
    </h1>
    <ul>
        <img src="<%= product.image%>" alt="">
        <li>Name: <%= product.productName%>
        </li>
        <li>Manufacturer: <%= product.manufacturer%>
        </li>
        <li>Category: <%= product.category%>
        </li>
        <li>Rating: <%= product.rating%>
        </li>
        <li>Price: Rs.<%= product.price%>
        </li>
        <li>
            About: <%= product.about%>
        </li>
    </ul>
    <div>
        <form action="/Mybag/buy" method="GET">
            <button>Buy Now</button>
        </form>
        <form action="/Mybag/mycart/deleteitem/<%=product._id%>?_method=DELETE" method="POST">
            <button>Delete from your cart</button>
        </form>
    </div>