<% layout('template') %>
<link rel="stylesheet" href="/css/index.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<div id="nav" >
    <div>
        <form action="/Mybag/logout" method="POST">
            <button id="logout">LOGOUT</button>
        </form>
    </div>
    <div id="profile"></div>
    
    <span><%= user.username %></span>

    <ul>
        <li><a href="/Mybag/products" >HOME</a></li>
        <li>
            <a href="/Mybag/showmycart" style="color: #237DB6;">
                MY BAG 
                <% if(user.mycartArray.length){ %>
                    <sup style="width: 20px; height: 20px; background-color: #EF7D21; 
                    color: white; border-radius: 50%; padding: 1px 5px;">
                        <%= user.mycartArray.length %> 
                    </sup>
                <% } %> 
            </a>
        </li>
    </ul>
    <img src="https://i.ibb.co/9pQqkyj/mybagshop-white.png" alt="mybagshop-white" class="img-fluid align-center a2img2">
</div>

    <div class="index-body">
        <%= success %> 
        <h2>Hello, <%= user.username %></h2>
    
        <div class="index-content">
            <h4 style="padding: 25px 0px 0px 50px;">
                <a href="/Mybag/showmycart" style="text-decoration:none;">
                    <div class="icon">
                        <img src="/css/icon/left-arrow.png" alt="">
                    </div>
                </a>
                ITEM DETAILS
            </h4>
            <div class="overlap">
                <div style="float: left; margin: 70px 0 0 45px;">
                    <form action="/Mybag/mycart/deleteitem/<%=product._id%>?_method=DELETE" method="POST">
                        <button class="icon"> <img src="/css/icon/remove.png" alt=""></button>
                    </form>
                </div>
                <div id="item-show">
                    <img src="<%= product.image%>" alt="" style="margin: 4% 0 0 4%;">
                    <div style="margin-left: 3%;">
                        <h4> <%= product.productName%> </h4> 
                        <p style="line-height: 40px;"> By <%= product.manufacturer%> <br> 
                            <% for(let i=0;i<product.rating;i++){ %>
                                <span class="dot" style="background-color: #EF7D21;"></span>
                            <% } %>
                            <% for(let i=product.rating;i<5;i++){ %>
                                <span class="dot" style="background-color: white;"></span>
                            <% } %><br>
                        </p>
                        <div id="show-price">
                            <p> $<%= product.price%> </p>
                        </div>
                </div>
                <div>
                    <span>ABOUT ITEM</span><br>
                    <p style="margin: 20px 0;"> <%= product.about%> <br> Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                         Asperiores, voluptates, facere praesentium quisquam molestiae, 
                         officiis ipsa inventore eos rem omnis non necessitatibus obcaecati temporibus magni. 
                        Impedit laudantium eos et dolorum?</p>
                </div>
            </div>
             
        </div>

        </div>

    </div>
    