<% layout('template') %>

    <%= success %> 
    <h1>
        <a href="/Mybag/products" style="text-decoration:none;">
            <b>&#8592</b>
        </a>
        <%= product.manufacturer%> product
    </h1>
    <ul>
        <img src="<%= product.image%>" alt="">
        <li>Name: <%= product.productName%>
        </li>
        <li>Manufacturer: <%= product.manufacturer%>
        </li>
        <li>Category: <%= product.category%>
        </li>
        <li>Rating: <%= product.rating%>
        </li>
        <li>Price: Rs.<%= product.price%>
        </li>
        <li>
            About: <%= product.about%>
        </li>
    </ul>

    <% if(user.username === "Admin") {%>
        <a href="/Mybag/edititem/<%=product._id%>">Edit Product</a>
        <form action="/Mybag/deleteitem/<%=product._id%>?_method=DELETE" method="POST">
            <button>Delete</button>
        </form>
    <% } else {%>
        <a href="">Add to Mycart</a>
    <% } %>